.html, body {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  margin: 0;
}

.bar-top {
  width: 100%;
  background: rgba(75, 191, 107, 1);
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
  font-weight: 600;
  color: #fff;
}