.html, body {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  color: #777777;
  background-color: #777777;
}

.bar-top {
  width: 100%;
  background: #C9302C;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
  font-weight: 600;
  color: #fff;
}

.container {
  text-align: center;
  background-color: #EEEEEE;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  width: auto;
}
