.html, body {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  color: #777777;
  background-color: #777777;
}

.bar-top {
  width: 100%;
  background: #50B948;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
  font-weight: 600;
  color: #fff;
}

.container {
  text-align: center;
  background-color: #EEEEEE;
  margin: 20px;
  padding: 15px;
  width: auto;
}

.style1, input{
  border: 1px solid #b7bbbd;
  padding: 4px;
  height: 20px;
  width: 40%;
}

.style2, input{
  border: 1px solid #b7bbbd;
  padding: 4px;
  height: 80px;
  width: 60%;
}

.btn1, button{
  height: 30px;
  width: 30px;
}

.btn2, button{
  height: 30px;
  width: 100px;
}
